<div class="artist">
  <div class="card mb-3" style="max-width: 100%;">
    <div class="row g-0">
      <div class="col-md-3 text-center" style="display: flex; align-items: center; " >
        <img src="{{artist.images[1].url}}" class="img-fluid rounded-start m-3" alt="...">
      </div>
      <div class="col-md-9">
        <div class="card-body m-3">
          <h2 >{{artist.name}}</h2>
          <p>Followers : {{artist.followers.total}}</p>
              <p>Genres:
                <span class="badge bg-success m-1 text-dark" *ngFor="let genre of artist.genres" style="font-size: 15px; font-weight: 5em;" >{{genre}}</span>
              </p>
              <h5>Popularity : <span>{{artist.popularity}}</span> </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="album-cards">
  
  <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-4  ">
    <div class=" col mt-3" *ngFor="let album of albums" >
      <div class="card" style="height: 600px;" >
        <img src="{{album.images[0].url}}" class="card-img-top p-2" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{album.name}}</h5>
          
          <a  class="btn" routerLink="/albums/{{album.id}}" >View Album</a>
        </div>
      </div>
    </div>
  </div>

</div>