<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
    <body>
        <div class="container-fluid">
            <h2 class="heading">Sportify</h2>
            <br>
            <p>With Spotify, it’s easy to find the right music or podcast for every moment – on your phone, your computer, your tablet and more.There are millions of tracks and episodes on Spotify. So whether you’re behind the wheel, working out, partying or relaxing, the right music or podcast is always at your fingertips. Choose what you want to listen to, or let Spotify surprise you.You can also browse through the collections of friends, artists, and celebrities, or create a radio station and just sit back.Soundtrack your life with Spotify. Subscribe or listen for free.</p>
            <br>
            <hr>
            <br>
            <h2 style="color: white;" ><span style="color: green;">About </span>Music<span style="color: green;">US</span> </h2>
            <br>
            <p>Our MusicUs gives you a pleasant experience. With our musicUS you can search for your favorite artist albums and enjoy the songs in them.</p>
            <br>
            <hr>
            <br>
            <h2 class="heading">Contact Us</h2>
            <br>
            <address>
                Mail us: musicus@gmail.com<br>
                Visit us at: www.musicus.com<br>
                Address: Bachupally,Hyderabad<br>
            </address>
        </div>
    </body>
</html>


