*
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


body
{
    overflow-x: hidden;
    overflow-y: hidden;
    /* font-family: 'Poppins', sans-serif; */
}

.container-fluid
{
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: black;
    z-index: 1000;
}

.navbar .navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;

}

.navbar .navbar-logo a{
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar .navbar-logo a .icon{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.navbar .navbar-logo a .icon i{
    font-size: 40px;
    color: green;
    margin-right: 0px;
}

.navbar .navbar-options{
    width: 60%;
    height: 50px;
    
}
.navbar .navbar-options ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}
.navbar .navbar-options ul li{
    padding: 10px 15px;
    font-size: 18px;
    transition: 0.3s;
    border-radius: 5px;
}


.navbar .navbar-options ul li a{
    color: green;
    font-size: 20px;
    font-weight: 500;
}

.navbar .navbar-options ul li:hover {
    background-color: green;
}
.navbar .navbar-options ul li:hover a{
    color: black;
}

.navbar .navbar-options ul li a i{
    font-size: 25px;
    margin-right: 15px;
}


.checkbtn{
    font-size: 30px;
    color: green;
    position: fixed;
    right: 30px;
    cursor: pointer;
    visibility: hidden;
}

#check{
    display: none;
}

/* responsive part */

@media(max-width: 950px){
    .checkbtn{
        visibility: visible;
    }

    .navbar .navbar-user{
        margin-right: 80px;
    }

    .navbar .navbar-options{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #26383D;
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all 0.3s;
    }

    .navbar .navbar-options ul {
       flex-direction: column;
       margin-top: 40px;
    }

    .navbar .navbar-options ul li{
        margin-top: 30px;
        font-weight:500;
        background-color: #26383D ;

    }
    .navbar .navbar-options ul li:hover{
        background:none;
    }
    .navbar .navbar-options ul li:hover a{
        background: none;
        color:black; 
    }

    #check:checked ~ .navbar-options{
        left: 0;
    }
}


@media(max-width: 700px){
    .navbar .navbar-user{
        padding: 8px 15px;
        font-size: 12px;

    }
    .navbar .navbar-user a{
        font-size: 12px;
        font-weight: 400;
        padding: 1px 5px;
    }
}


.main
{
    width: 100%;
    min-height: 100vh;
    background: #26383D;
    padding: 30px;
}

.main .content
{
    margin: 80px 100px;
}

