


<div class="container-fluid">
    <!-- <input type="checkbox" name="" id="check">
            <label for="check">
                <i class="fas fa-bars" id="select"></i>
                <i class="fas fa-times" id="cancel"></i>
            </label> -->
    <div class="navigation">
        <ul>
            <li>
                <a href="">
                    <span class="icon"><i class="fab fa-spotify"></i></span>
                    <span class="title"><h2>Music<span style="color: green;" >US</span> </h2></span>
                </a>
            </li>
            <li>
                <a routerLink="home"   routerLinkActive="active">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li>
                <a routerLink="search"  routerLinkActive="active">
                    <span class="icon"><i class="fas fa-search"></i></span>
                    <span class="title">Search</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><i class="fab fa-spotify"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span class="icon"><i class="fab fa-spotify"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="main">
        
        <div class="topbar">
            
            <!-- <div class="appname">
                <span class="title"><h2>Music<span style="color: green;" >US</span> </h2></span>
            </div> -->
            <div class="searchbar">
                <input type="text">
                <i class="fas fa-search"></i>
            </div>
            <div class="user">
                <i class="fas fa-user-circle"></i>
            </div>
        </div> 

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

